body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  background-color: #15181D;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  user-select: none;
}

.dropZonesContainer {
  width: 80%;
  /* height: fit-content; */
  padding: 80px 80px;
  display: flex;
  /* flex-direction:row; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.statusHeader {
  font-size: x-large;
  font-weight: bold;
}

.drop-container {
  position: relative;
  height: fit-content;
  width: 10vw;
  background-color: #202329;
  padding: 30px;
  display: flex; 
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  flex-wrap: wrap;

}
.drop-container:hover{
  transform: scale(1.05) ;
}
.addbutton{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 20px;
  border-radius: 5px;
}
.Delbutton{
  
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 20px;
  border-radius: 5px;
}
.Dragitem {
  position: relative;
  padding: 10px;
  background-color:rgba(45, 197, 197, 0.904);
  border-radius: 10px;
  color:black;
  font-weight: 500;
}
.Dragitem:hover{
 transform: scale(1.05);
}
.taskHeader {
  font-size: large;
  font-weight: 1000;
}

@media (max-width: 1024px) {
  .dropZonesContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    gap: 20px;
  }
  
  .drop-container{
    padding: 10px;
    
  }
  .drop-container:hover{
    transform: scale(1.05);
  }
}
